<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Feedback</title>
    {% include 'admin/header.html' %}
  </head>
  <body>
    <div class="container">
      <header class="row text-center mb-5">
        <div class="col-10 display-4">
          Hostel Feedback
        </div>
        <div class="col-md-2 text-right pt-3">
          {%if 'logged_in' not in session %}
          <a href="{{url_for('Login')}}">
            <button class="btn bg-faded text-black" type="button" name="button">
              Click Here to Login
            </button>
          </a>
			    {% else %}
          <a href="{{url_for('Logout')}}">
            <button class="btn bg-faded text-black" type="button" name="button">
              Logout
            </button>
          </a>
			    {% endif %}
        </div>
      </header>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="row">
          <div class="col-md-6 border-info p-2">
            {% for message in messages %}
            <span class="text-info">{{message}}</span>
            {% endfor %}
          </div>
        </div>

        {% endif %}
      {% endwith %}
      <br>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
