{% extends 'admin/base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <span class="h3 font-weight-light">Others</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck">
        <div class="card">
          <h5 class="card-header bg-secondary text-white">Medical Availability</h5>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Excellent
                <span class="badge badge-primary badge-pill">
                  {{ Availability|selectattr('Availability', 'equalto', 5)|list|length }}
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Very Good
                <span class="badge badge-primary badge-pill">
                  {{ Availability|selectattr('Availability', 'equalto', 4)|list|length }}
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Good
                <span class="badge badge-primary badge-pill">
                  {{ Availability|selectattr('Availability', 'equalto', 3)|list|length }}
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Average
                <span class="badge badge-primary badge-pill">
                  {{ Availability|selectattr('Availability', 'equalto', 2)|list|length }}
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Poor
                <span class="badge badge-primary badge-pill">
                  {{ Availability|selectattr('Availability', 'equalto', 1)|list|length }}
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header bg-secondary text-white">Medical Emergency Services</h5>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Excellent
                <span class="badge badge-primary badge-pill">
                  {{ Services|selectattr('Services', 'equalto', 5)|list|length }}
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Very Good
                <span class="badge badge-primary badge-pill">
                  {{ Services|selectattr('Services', 'equalto', 4)|list|length }}
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Good
                <span class="badge badge-primary badge-pill">
                  {{ Services|selectattr('Services', 'equalto', 3)|list|length }}
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Average
                <span class="badge badge-primary badge-pill">
                  {{ Services|selectattr('Services', 'equalto', 2)|list|length }}
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Poor
                <span class="badge badge-primary badge-pill">
                  {{ Services|selectattr('Services', 'equalto', 1)|list|length }}
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
