{% extends 'base.html' %}
  {% block content %}
    <div class="row">
      <div class="col-12">
        <span class="h2 font-weight-normal">Hostel Facilities</span>
      </div>
    </div>
    <br>
    <form action="{{url_for('Facilities')}}" method="POST">
      <article class="row">
        <section class="col-12">
          <div class="card border-primary">
            <h5 class="card-header bg-primary text-white">Rating</h5>
            <div class="card-body">
              <div class="card-columns">
                <div class="card border-success">
                  <div class="card-header">
                    Room
                  </div>
                  <div class="card-body">
                    <select class="form-control" id="Room" name="Room">
                      {% include 'options.html' %}
                    </select>
                  </div>
                </div>
                <div class="card border-success">
                  <div class="card-header">
                    Corridors
                  </div>
                  <div class="card-body">
                    <select class="form-control" id="Corridors" name="Corridors">
                      {% include 'options.html' %}
                    </select>
                  </div>
                </div>
                <div class="card border-success">
                  <div class="card-header">
                    Toilets
                  </div>
                  <div class="card-body">
                    <select class="form-control" id="Toilets" name="Toilets">
                      {% include 'options.html' %}
                    </select>
                  </div>
                </div>
                <div class="card border-success">
                  <div class="card-header">
                    Common Room
                  </div>
                  <div class="card-body">
                    <select class="form-control" id="Common-Room" name="Croom">
                      {% include 'options.html' %}
                    </select>
                  </div>
                </div>
                <div class="card border-success">
                  <div class="card-header">
                    Hostel Surroundings(eg. Lawn)
                  </div>
                  <div class="card-body">
                    <select class="form-control" id="Surroundings" name="Lawns">
                      {% include 'options.html' %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <br>
      <input type="submit" class="btn btn-primary mb-5" value="Submit">
    </form>
  {% endblock %}
