{% extends 'base.html' %}
  {% block content %}
  <article class="row">
    <div class="card-columns">
      <div class="card border-info">
        <div class="card-body bg-light">
          <h5 class="card-title">Mess</h5>
          <h6 class="card-subtitle mb-2 text-muted">Feedback</h6>
          <p class="card-text">Fill up this form to review your mess system.</p>
          <a href="{{url_for('MessFeedback')}}" class="card-link">Start Now!</a>
        </div>
      </div>
      <div class="card border-info">
        <div class="card-body bg-light">
          <h5 class="card-title">Water</h5>
          <h6 class="card-subtitle mb-2 text-muted">Feedback</h6>
          <p class="card-text">Fill up this form to review your Water facilty.</p>
          <a href="{{url_for('WaterFeedback')}}" class="card-link">Start Now!</a>
        </div>
      </div>
      <div class="card border-info">
        <div class="card-body bg-light">
          <h5 class="card-title">Staff</h5>
          <h6 class="card-subtitle mb-2 text-muted">Feedback</h6>
          <p class="card-text">Fill up this form to review your Staff facilty.</p>
          <a href="{{url_for('StaffFeedback')}}" class="card-link">Start Now!</a>
        </div>
      </div>
      <div class="card border-info">
        <div class="card-body bg-light">
          <h5 class="card-title">Facilities</h5>
          <h6 class="card-subtitle mb-2 text-muted">Feedback</h6>
          <p class="card-text">Fill up this form to review the facilities given.</p>
          <a href="{{url_for('Facilities')}}" class="card-link">Start Now!</a>
        </div>
      </div>
      <div class="card border-info">
        <div class="card-body bg-light">
          <h5 class="card-title">Others</h5>
          <h6 class="card-subtitle mb-2 text-muted">Feedback</h6>
          <p class="card-text">Fill up this form to review other facilities.</p>
          <a href="{{url_for('Others')}}" class="card-link">Start Now!</a>
        </div>
      </div>
    </div>
  </article>
  {% endblock %}
