<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Feedback</title>
    {% include 'header.html' %}
  </head>
  <body>
    <div class="container">
      <header class="row text-center mb-5">
        <div class="col-12 display-4">
          Hostel Feedback
        </div>
      </header>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="row">
          <div class="col-md-6 border-info p-2">
            {% for message in messages %}
            <span class="text-info">{{message}}</span>
            {% endfor %}
          </div>
        </div>

        {% endif %}
      {% endwith %}
      <br>
      {% block content %}
      {% endblock %}
    </div>
    <br><br>
  </body>
</html>
