{% extends 'formbase.html' %}
  {% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="card border-primary">
        <div class="card-header bg-muted h1 font-weight-light">
          Login Form
        </div>
        <div class="card-body">
          <form action="{{url_for('Login')}}" method="POST">
            <div class="form-group">
              {% if error %}
                <label class="text-danger">{{error}}</label><br>
              {% endif %}
              <label for="email">Email ID</label>
              <input type="text" class="form-control" name="Email" id="email" placeholder="Enter your Email ID" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="Password" id="password" placeholder="Password" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="form-group">
              <span>New here?</span><br>
              <a href="{{url_for('Signup')}}">
                <button type="button" class="btn btn-primary">Signup Here!</button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
