{% extends 'base.html'%}
  {% block content %}
  <div class="row">
    <div class="col-12">
      <span class="h2 font-weight-normal">Mess</span>
    </div>
  </div>
  <br>
  <form action="{{url_for('MessFeedback')}}" method="POST">
    <article class="row">
      <section class="col-12">
        <div class="card border-primary">
          <h5 class="card-header bg-primary text-white">Timings</h5>
          <div class="card-body">
            <div class="card-deck">
              <div class="card">
                <div class="card-header">
                  Morning
                </div>
                <div class="card-body">
                  <select class="form-control border-success" id="morning" name="Morning">
                    {% include 'options.html' %}
                  </select>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Afternoon
                </div>
                <div class="card-body">
                  <select class="form-control border-success" id="Afternoon" name="Afternoon">
                    {% include 'options.html' %}
                  </select>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Evening
                </div>
                <div class="card-body">
                  <select class="form-control border-success" id="Evening" name="Evening">
                    {% include 'options.html' %}
                  </select>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  dinner
                </div>
                <div class="card-body">
                  <select class="form-control border-success" id="Dinner" name="Dinner">
                    {% include 'options.html' %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <br>
    <article class="row">
      <section class="col-12">
        <div class="card border-primary">
          <h5 class="card-header bg-primary text-white">Service By Staff</h5>
          <div class="card-body">
            <div class="card-deck">
              <div class="card">
                <div class="card-header">
                  Food Availablity
                </div>
                <div class="card-body">
                  <select class="form-control border-success" id="Food-Availability" name="Availability">
                    {% include 'options.html' %}
                  </select>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Food Quality
                </div>
                <div class="card-body">
                  <select class="form-control border-success" id="Food-Quality" name = "Quality">
                    {% include 'options.html' %}
                  </select>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  Behaviour
                </div>
                <div class="card-body">
                  <select class="form-control border-success" id="Behaviour" name="Behaviour">
                    {% include 'options.html' %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <br>
    <button type="submit" class="btn btn-primary mb-5">Submit</button>
  </form>
  {% endblock %}
