{% extends 'base.html'%}
  {% block content %}
    <div class="row">
      <div class="col-12">
        <span class="h2 font-weight-normal">Other Services</span>
      </div>
    </div>
    <br>
    <form action="{{url_for('Others')}}" method="POST">
      <article class="row">
        <section class="col-8">
          <div class="card border-primary">
            <h5 class="card-header bg-primary text-white">Medical Services</h5>
            <div class="card-body">
              <div class="card-deck">
                <div class="card border-success">
                  <div class="card-header">
                    Availability
                  </div>
                  <div class="card-body">
                    <select class="form-control" id="medical-availability" name="Availability">
                      {% include 'options.html' %}
                    </select>
                  </div>
                </div>
                <div class="card border-success">
                  <div class="card-header">
                    Medical Emergency Services
                  </div>
                  <div class="card-body">
                    <select class="form-control" id="Medical-services" name="Services">
                      {% include 'options.html' %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <br>
      <input type="submit" class="btn btn-primary mb-5" value="Submit">
    </form>
  {% endblock %}
